* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 0px;
    
    height: 600px;
    display: flex;
    align-items:center ;
    background-color: #0E0E0E;
    
}
.box {
    display: box;
    margin: auto;
    height:324px;
    width:400px;
    background-color: black;
    position: relative;
    
}

.fa-solid {
    color: hsl(0, 0%, 90%);
    position:absolute;
    height:15px;
    width:15px;
    font-size:100px;
    
}


